<div class="container">
  <div class="page-header">
    <h1>Application List
      <small>Public applications in the iPlant Database</small>
    </h1>
  </div>
  <ul class="applist nav nav-tabs nav-stacked"></ul>
  {{#if loading}}
    <div class="alert alert-info"><b>Loading Applications...</b> Please hold on while the application list is populated.</div>
  {{/if}}
</div>