$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
@import 'compass/css3';

$green: #00a0af;
$white: #ffffff;
$black: #333333;
$grey: #777777;
$lightGrey: #cccccc;

$btnSuccessBackground: $green;
$btnSuccessBackgroundHighlight: darken($green, 5%);

@import 'sass-bootstrap/lib/bootstrap';

body {
  padding-top: 60px;
}

.login-welcome {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  @include text-shadow(0 1px 0 $white);
  color: $grey;
  font-weight: 200;
}

.hero-unit {
  @include text-shadow(1px 1px 0 $white);
}

.applist .view-app p {
  color: $grey;
}

.list-item-options {
  display: none;
}

.file-list-scroll {
  @extend .well;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}