<div class="container">
  <h2>{{app.name}} <small>{{app.version}}</small></h2>
  <p>{{app.shortDescription}}</p>
  <p>This application runs on {{app.executionHost}}.</p>
  <form method="post">
    <div class="form-fields">
      <fieldset>
        <legend>Parameters</legend>
        {{#each params}}
          <div class="control-group">
            {{#if isCheckbox}}
              <label class="checkbox">
                <input type="checkbox" id="{{id}}" name="{{name}}">
                <b>{{label}}</b>
                {{#if help}}
                  <span class="help-block">{{help}}</span>
                {{/if}}
              </label>
            {{/if}}

            {{#if isSelect}}
              <label class="control-label"><b>{{label}}</b></label>
              <div class="controls">
                <select id="{{id}}" name="{{name}}">
                  {{#each options}}
                    <option value="{{value}}" {{#if selected}}selected{{/if}}>
                      {{label}}
                    </option>
                  {{/each}}
                </select>
                {{#if help}}
                  <span class="help-block">{{help}}</span>
                {{/if}}
              </div>
            {{/if}}

            {{#if isText}}
              <label class="control-label"><b>{{label}}</b></label>
              <div class="controls">
                <input type="text" id="{{id}}" name="{{name}}" value="{{defaultValue}}">
                {{#if help}}
                  <span class="help-block">{{help}}</span>
                {{/if}}
              </div>
            {{/if}}
          </div>
        {{else}}
          <p>This application has no configurable parameters.</p>
        {{/each}}
      </fieldset>

      <fieldset>
        <legend>Input files</legend>
        {{#each inputs}}
          <div class="control-group">
            <label class="control-label">{{details.label}}</label>
            <div class="controls">
              <div class="input-append">
                <input type="text" name="{{id}}" id="{{id}}">
                <button class="btn btn-choose-file">Choose file</button>
              </div>

              {{#if details.description}}
                <span class="help-block">{{details.description}}</span>
              {{/if}}
            </div>
          </div>
        {{else}}
          <p>This application has no inputs.</p>
        {{/each}}

        <div class="file-chooser modal hide fade">
          <div class="modal-body"></div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Job Metadata</legend>
        <input type="hidden" name="softwareName" value="{{app.id}}">
        <div class="control-group">
          <label class="control-label"><b>Job Name</b></label>
          <div class="controls">
            <input type="text" name="jobName" id="jobName">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label"><b>Requested Run Time (hh:mm:ss)</b></label>
          <div class="controls">
            <input type="text" name="requestedTime" id="requestedTime" value="00:01:00">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="form-actions">
      <button class="btn btn-primary run-app">Submit</button>
    </div>
  </form>
</div>