<div class="container">
  <div class="page-header">
    <h1>Create a New PostIt</h1>
  </div>
  <form method="post">
    <div class="form-fields">
      <input type="hidden" name="method" value="GET">
      <div class="control-group">
        <label class="control-label">Choose File to Share</label>
        <div class="controls">
          <div class="input-append">
            <input type="text" name="url">
            <button class="btn btn-choose-file">Choose file</button>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Number of Uses</label>
        <div class="controls">
          <input type="number" name="max_uses" value="1">
          <span class="help-block">How many times can this PostIt be used?  For unlimited uses enter &quot;-1.&quot;</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Your iPlant Password</label>
        <div class="controls">
          <input type="password" name="password">
          <span class="help-block">Provide your iPlant Username for pre-authenticating your PostIt.</span>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn btn-primary save-postit" value="Create PostIt">
      <a class="btn cancel-form">Cancel</a>
    </div>
  </form>
  <div class="file-chooser modal hide fade">
    <div class="modal-body"></div>
  </div>
</div>