<div class="actions pull-right">
  <a class="btn revoke-postit">Revoke PostIt</a>
</div>
<b>{{postit}}</b>
<div>
  {{method}} {{url}}
</div>
<div>
  Expires: {{expires}}
</div>
<div class="postit-data">
  <dl>
    <dt>Remaining uses</dt>
    <dd>{{remaining_uses}}</dd>
  </dl>
</div>