<div class="container">
  <div class="page-header">
    <h1>My PostIts</h1>
  </div>
  <div class="postit-actions">
    <a class="pull-right btn btn-info create-postit">Create a New PostIt</a>
  </div>
  <div class="postit-list"></div>
</div>