<div class="container">
  <div class="page-header">
    <h1>My iPlant Data Store</h1>
  </div>

  <ul class="breadcrumb">
    {{#each parts}}
      <li><a href="#">{{.}} <span class="divider">/</span></a></li>
    {{/each}}
    <li class="active">{{current}}</li>
  </ul>

  <div class="browser"></div>
</div>