<a class="list-item list-item-{{type}}">
  <i class="icon icon-{{icon}}"></i>
  <b>{{name}}</b>
  {{#if isFile}}
    <span class="muted">| size: {{fileSize}} {{fileSizeLabel}}</span>
    <span class="muted">| last modified: {{lastModified}}</span>
  {{/if}}

  <div class="list-item-options">
    {{#if isFile}}<a class="btn btn-info btn-download">Download</a>{{/if}}
    {{#if isDir}}<a class="btn btn-info btn-open">Open</a>{{/if}}
    <a class="btn btn-danger btn-delete">Delete</a>
  </div>
</a>
