<form method="post" name="login-form" class="navbar-form">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" class="btn btn-success login-btn" value="Login">
</form>