<div class="container">
    <div class="hero-unit">
        <h1>Welcome to Gateway DNA!</h1>
        <p>
            Gateway DNA is a science gatewy toolkit build on top of the Agave API using only
            HTML, CSS, and JavaScript, and based on Backbone.js.
        </p>
        <p>
            With Gateway DNA you have the full power of the Agave API available to you including:
        </p>
        <ul>
            <li>Authentication to iPlant</li>
            <li>Application Discovery</li>
            <li>Application Execution</li>
            <li>Data Management</li>
            <li>Profiles</li>
            <li>Sharing with Post-Its</li>
            <li>and More!</li>
        </ul>
        <h3>Get started building your own science gateway today!</h3>
    </div>
</div>